.profile__username-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 650px) {
    .profile__username-container {
        margin-left: 20px;
    }
}
