.popup__button {
    width: 80%;
    height: 12%;
    background-color: black;
    color: white;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 2px;
    border: black;
}

.popup__button:hover {
    opacity: 80%;
}

@media screen and (max-width: 650px) {
    .popup__button {
        font-size: 14px;
        margin-top: 4%;
        margin-bottom: 8%;
        min-height: 46px;
    }
}