.profile__add-card-button {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("/images/add-card-button.svg");
    border: 2px solid white;
    background-position: center;
    background-repeat: no-repeat;
    width: 17%;
    height: 3.7rem;
    margin-left: auto;
    cursor: pointer;
}

.profile__add-card-button:hover {
    opacity: 50%;
}

@media screen and (max-width: 650px) {
    .profile__add-card-button {
        margin-left: 0;
        width: 90%;
        height: 3rem;
    }
}