.profile__add-card-button {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../../images/add-card-button.svg");
    border: 2px solid white;
    border-radius: 2px;
    background-position: center;
    background-repeat: no-repeat;
    width: 220px;
    height: 50px;
    margin-left: auto;
    cursor: pointer;
    padding: 0;
}

.profile__add-card-button:hover {
    opacity: 60%;
}

@media screen and (max-width: 650px) {
    .profile__add-card-button {
        margin-left: 0;
        width: 282px;
        background-size: 16px 16px;
    }
}