.profile__text-container {
    display: flex;
    flex-direction: column;
    margin-left: 3%;
    width: 100%;
}

@media screen and (max-width: 650px) {
    .profile__text-container {
        margin: 0;
        align-items: center;
    }
}