.popup__close-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 32px;
    height: 32px;
    transform: translate(120%, -120%);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../../../images/close-button.svg");

}

.popup__close-button:hover {
    opacity: 60%;
}

@media screen and (max-width: 650px) {
    .popup__close-button {
        transform: translate(0, -170%);
        width: 20px;
        height: 20px;
        object-fit: contain;
        background-size: 20px 20px;
        padding: 0
    }
}