.card__caption-like-button {
    background-color: rgba(0, 0, 0, 0);
    background-image: url("../../../images/like-inactive.svg");
    border: none;
    background-position: center;
    background-repeat: no-repeat;
    width: 22px;
    height: 19px;
    padding-right: 20%;
    opacity: 100%;
    cursor: pointer;
}

.card__caption-like-button:hover {
    opacity: 50%;
}

.card__caption-like-button:active {
    background-image: url("../../../images/like-active.svg");
    opacity: 100%;
}