.card__caption-text {
    color: black;
    font-family: 'Inter', 'Arial', 'sans-serif';
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    max-width: 65%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 20px 0 20px 20px;
}